@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none; /* Для Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }

  .bg-img-bg {
    background: linear-gradient(
        180deg,
        rgba(38, 28, 21, 0.4) 0%,
        rgba(38, 28, 21, 0.15) 10.86%,
        rgba(38, 28, 21, 0.07) 20.69%,
        rgba(38, 28, 21, 0) 28.83%
      ),
      linear-gradient(
        360deg,
        rgba(38, 28, 21, 0.15) 25.73%,
        rgba(38, 28, 21, 0.4) 50.59%,
        rgba(38, 28, 21, 0.15) 74.2%,
        rgba(38, 28, 21, 0) 83.83%
      );
  }
}

@layer components {
  .default-h2 {
    @apply font-sans font-bold uppercase text-[35px] medium:text-[40px] pad:text-[48px] full:text-[58px];
  }

  .modal {
    @apply relative bg-white px-[10px] mini:px-[33px] medium:px-[25px] pad:px-[40px] mac:px-[50px] py-[20px] mini:py-[30px] full:py-[45px] rounded-[25px] shadow-md;
  }

  .modal-bg {
    @apply fixed inset-0 flex items-center z-50 justify-center bg-black bg-opacity-50;
  }

  .mobile-menu-bg {
    @apply fixed inset-0 flex items-center z-50 justify-center bg-black bg-opacity-50;
  }

  .mobile-menu {
    @apply absolute top-0 right-0 bg-white pt-[41px] pl-[60px] w-[275px] h-[512px] medium:w-[368px] medium:h-[582px] pad:w-[483px] pad:h-[592px];
  }

  .body-main {
    @apply flex flex-col w-full gap-[80px] mini:gap-[140px] mx-auto max-w-[95%] mini:max-w-[90%] med:max-w-[600px] medium:max-w-[688px] pad:max-w-[910px] megapad:max-w-[1100px] mac:max-w-[90%] full:max-w-[1681px];
  }

  .bg-img {
    @apply absolute top-0 right-0 z-[-1] object-cover w-full h-[660px] mini:w-[274px] mini:h-[416px] med:w-[367px] med:h-[482px] pad:w-[482px] pad:h-[593px] megapad:w-[633px] megapad:h-[800px] mac:w-[733px] mac:h-[900px] full:w-[930px] full:h-[1080px];
  }

  .header {
    @apply pt-8 min-h-[612px] mini:min-h-[482px] pad:min-h-[593px] megapad:min-h-[900px] 2xl:min-h-[1080px];
  }

  .header-h1 {
    @apply font-sans font-bold w-full mt-[200px] mini:mt-[133px] text-[46px] mini:text-[56px] medium:text-[75px] pad:text-[98px] mac:text-[148px] full:text-[178px] leading-[50px] mini:leading-[70px] pad:leading-[100px] mac:leading-[120px] full:leading-[150px];
  }

  .header-content {
    @apply flex flex-col medium:gap-[22px] mini:max-w-[252px] medium:max-w-[340px] pad:max-w-[444px] mac:max-w-[546px] full:max-w-[708px];
  }

  .header-btns {
    @apply w-full flex flex-col font-semibold gap-[18px] text-[16px] full:text-[20px] pad:flex-row pad:justify-between pad:gap-[25px];
  }

  .header-btn {
    @apply w-full h-[53px] cursor-pointer rounded-lg mini:max-w-[235px] medium:max-w-[254px] full:max-w-[337px] full:h-[64px];
  }

  .header-text {
    @apply text-my-white w-full mt-5 mb-[50px] mini:mt-0 mini:mb-0 mini:text-my-brown font-normal text-[16px] mac:text-[22px] full:text-[28px];
  }

  .portfolio-image-container {
    @apply relative bg-cover bg-center rounded mini:rounded-[7px] medium:rounded-[9px] full:rounded-[15px] min-h-[145px] mini:min-h-[248px] medium:min-h-[331px]
  }

  .portfolio-image {
    @apply absolute px-[8px] mini:px-[15px] medium:px-[20px] mac:px-[30px] w-full flex justify-between bottom-[8px]  mini:bottom-[15px] medium:bottom-[20px] mac:bottom-[30px];
  }

  .about-text {
    @apply mt-[18px] text-[16px] pad:text-[20px] mac:text-[22px] full:text-[28px];
  }

  .about-img {
    @apply w-[300px] object-cover mini:w-[222px] h-[293px] medium:w-[257px] medium:h-[340px] pad:w-[318px] pad:h-[420px] mac:w-[486px] mac:h-[570px];
  }

  .serve-li {
    @apply block cursor-pointer bg-my-light-grey text-my-grey py-[5px] px-[28px];
  }

  .active-li {
    @apply block cursor-pointer bg-my-green text-my-brown py-[5px] px-[28px];
  }

  .registry {
    @apply bg-my-light rounded-[20px] flex flex-col w-full justify-center gap-[60px] px-[10px] py-[20px] mini:py-[60px] mini:px-[50px] medium:pl-[95px];
  }

  .footer-inner {
    @apply w-full mx-auto max-w-[90%] medium:max-w-[688px] md:max-w-[688px] pad:max-w-[910px] megapad:max-w-[1100px] mac:max-w-[90%] full:max-w-[1680px];
  }
}
